/**header styling**/

#logo{
    font-size: larger;
    color: orangered;
    
}

#links{
    text-align: right;
    float: right;
    
}
/** cover image styling **/
#cover-image{
    width: 100%;
    height: 600px;
}